<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}

.tg td{font-family: Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family: Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-yv6e{font-family: a시월구일1; background-color:#3c475b;border-color:inherit;text-align:left}
.tg .tg-v6aa{font-family: a시월구일1; background-color:#d2d7dd;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-y7f3{font-family: a시월구일1; background-color:#e2e2e2;border-color:inherit;text-align:left}
.tg .tg-y3j4{font-family: a시월구일1; background-color:#e2e2e2;border-color:inherit;text-align:left}
.tg .tg-gkra{font-family: a시월구일1; background-color:#414f74;border-color:inherit;text-align:left}
.tg .tg-x823{font-family: a시월구일1; background-color:#d2d7dd;border-color:inherit;text-align:left}
.tg .tg-ghqg{font-family: a시월구일1; background-color:#e2e2e2;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-bbxk{font-family:a시월구일1, cursive, sans-serif !important;;background-color:#3c475b;border-color:inherit;text-align:left}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
<div class="tg-wrap"><table class="tg">
  <tr>
    <th class="tg-gkra" rowspan="8"><img src="file:///C:/Users/HyunKii/Documents/Ronaldo.png"></th>
    <th class="tg-bbxk">선수 정보</th>
  </tr>
  <tr>
    <td class="tg-y3j4"><span style="font-weight:bold">이름</span><br><br>크리스티아누 호날두</td>
  </tr>
  <tr>
    <td class="tg-x823"><span style="font-weight:bold">나이</span><br><br>1985.02.05 (34세)</td>
  </tr>
  <tr>
    <td class="tg-y7f3"><span style="font-weight:bold">키</span><br><br>186cm</td>
  </tr>
  <tr>
    <td class="tg-v6aa"><span style="font-weight:bold">포지션</span><br><br>윙어, 스트라이커</td>
  </tr>
  <tr>
    <td class="tg-ghqg"><span style="font-weight:bold">소속팀</span><br><br><a href="https://namu.wiki/w/%EC%8A%A4%ED%8F%AC%EB%A5%B4%ED%8C%85%20CP">스포르팅 CP </a>(2002~2003)<br><br><a href="https://namu.wiki/w/%EB%A7%A8%EC%B2%B4%EC%8A%A4%ED%84%B0%20%EC%9C%A0%EB%82%98%EC%9D%B4%ED%8B%B0%EB%93%9C%20FC"><span style="font-weight:700">맨체스터 유나이티드 FC</span></a><br><a href="https://namu.wiki/w/%EB%A7%A8%EC%B2%B4%EC%8A%A4%ED%84%B0%20%EC%9C%A0%EB%82%98%EC%9D%B4%ED%8B%B0%EB%93%9C%20FC"><span style="font-weight:700"> </span></a>(2003~2009) <br><br><a href="https://namu.wiki/w/%EB%A0%88%EC%95%8C%20%EB%A7%88%EB%93%9C%EB%A6%AC%EB%93%9C%20CF"><span style="font-weight:700">레알 마드리드 CF</span></a><br><a href="https://namu.wiki/w/%EB%A0%88%EC%95%8C%20%EB%A7%88%EB%93%9C%EB%A6%AC%EB%93%9C%20CF"><span style="font-weight:700"> </span></a>(2009~2018)<br><br><a href="https://namu.wiki/w/%EC%9C%A0%EB%B2%A4%ED%88%AC%EC%8A%A4%20FC">유벤투스 FC </a>(2018~)<br></td>
  </tr>
  <tr>
    <td class="tg-v6aa"><span style="font-weight:bold">커리어</span><br><br>스포르팅 CP(2002-03): 1회 우승<br>수페르타사: 2002<br>맨체스터 유나이티드 FC(2003-04~2008-09): 10회 우승<br>프리미어 리그(3): 2006-07, 2007-08, 2008-09<br>FA컵: 2003-04<br>EFL컵(2): 2005-06, 2008-09<br>FA 커뮤니티 실드(2): 2007, 2008<br>UEFA 챔피언스 리그: 2007-08<br>FIFA 클럽 월드컵: 2008<br>레알 마드리드 CF(2009-10~2017-18): 16회 우승<br>프리메라 리가(2): 2011-12, 2016-17<br>코파 델 레이(2): 2010-11, 2013-14<br>수페르코파 데 에스파냐(2): 2012, 2017<br>UEFA 챔피언스 리그(4): 2013-14, 2015-16, 2016-17, 2017-18<br>UEFA 슈퍼컵(3): 2014, 2016, 2017<br>FIFA 클럽 월드컵(3): 2014, 2016, 2017<br>유벤투스(2018-19~): 1회 우승<br>수페르코파 이탈리아나: 2018<br>포르투갈 축구 국가대표팀(2003~): 1회 우승<br>UEFA 유로: 2016</td>
  </tr>
  <tr>
    <td class="tg-ghqg"><span style="font-weight:bold">한줄평</span><br><br>말이 필요한가 우리는 메호의 시대에 살고 있다.  우리형,  짱날두, 킹날두 킹갓제너럴엠퍼럴갓두 등등 수많은 별명으로 불리며 많은 나이에도 아직 신계의 폼을 유지하고 있다. <br>과연 이 선수의 끝은 어디일지 앞으로의 행보가 기대된다<br></td>
  </tr>
</table></div>